In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\LENOVO\Documents\Web scrapped files\marriage_data_india.csv")

In [8]:
df.head()

,ID,Marriage_Type,Age_at_Marriage,Gender,Education_Level,Caste_Match,Religion,Parental_Approval,Urban_Rural,Dowry_Exchanged,Marital_Satisfaction,Divorce_Status,Children_Count,Income_Level,Years_Since_Marriage,Spouse_Working,Inter-Caste,Inter-Religion
0,1,Love,23,Male,Graduate,Different,Hindu,No,Urban,No,Medium,Yes,5,Middle,34,No,No,No
1,2,Love,28,Female,School,Same,Hindu,Yes,Rural,Yes,Low,No,3,Middle,42,No,No,Yes
2,3,Arranged,39,Male,Postgraduate,Same,Muslim,Yes,Rural,No,Medium,No,0,High,25,No,No,No
3,4,Arranged,26,Female,School,Different,Hindu,Yes,Urban,Yes,Low,No,0,High,12,No,Yes,No
4,5,Love,32,Female,Graduate,Same,Hindu,Partial,Rural,Yes,Medium,No,1,Middle,41,No,No,Yes

In [10]:
#Average Age at Marriage: What is the average age at marriage for males and females?
Male_average = df[df["Gender"] == "Male"]["Age_at_Marriage"].mean()
female_average = df[df["Gender"] == "Female"]["Age_at_Marriage"].mean()
Male_average, female_average

(28.533633203843795, 28.475239772949696)

In [12]:
#Divorce Rate: What percentage of marriages end in divorce?
divorce_stats = df.groupby("Divorce_Status")['ID'].count()
divorce_percent = divorce_stats['Yes']/ (divorce_stats.sum()) *100
print(f'{divorce_percent}%')

10.01%

In [14]:
#Dowry Exchange: What percentage of marriages involve dowry exchange?
df.head()
dowry_stats = df.groupby('Dowry_Exchanged')['ID'].count()
dowry_percent = dowry_stats['Yes']/ (dowry_stats.sum()) * 100
print(f'{dowry_percent}%')

29.959999999999997%

In [16]:
#Parental Approval: What percentage of marriages have full parental approval?
df.head()
marriage_approval = df.groupby('Parental_Approval')["ID"].count()
percent_parental_approval = marriage_approval['Yes']/ (marriage_approval.sum()) * 100
print(f'{percent_parental_approval}%')

70.14%

In [18]:
#Inter-Caste Marriages: What percentage of marriages are inter-caste?
df.head()
intercaste_marriages = df.groupby('Inter-Caste')['ID'].count()
intercaste_marriages_percent =  intercaste_marriages['Yes']/ (intercaste_marriages.sum()) * 100
print(f'{intercaste_marriages_percent}%')

29.68%

In [20]:
#Inter-Religion Marriages: What percentage of marriages are inter-religion?
df.head()
inter_religion_marriages = df.groupby('Inter-Religion')['ID'].count()
inter_religion_marriages_percent =  inter_religion_marriages['Yes']/ (inter_religion_marriages.sum()) * 100
print(f'{inter_religion_marriages_percent}%')

20.28%

In [22]:
#Marital Satisfaction by Gender: What is the average marital satisfaction score for males and females?
df.head()
marital_satisfaction_map = {'Low': 1, 'Medium': 2, 'High': 3}
df['Marital_Satisfaction_Score'] = df['Marital_Satisfaction'].map(marital_satisfaction_map)
df.groupby('Gender')['Marital_Satisfaction_Score'].mean()

Gender
Female    2.095713
Male      2.101820
Name: Marital_Satisfaction_Score, dtype: float64

In [24]:
#Children Count: What is the average number of children per marriage?
df.head()
df['Children_Count'].dropna().mean()

2.5088

In [26]:
#Income Level Distribution: What is the distribution of income levels among the dataset?
df.head()
df['Income_Level'].value_counts()

Income_Level
Middle    4983
Low       2994
High      2023
Name: count, dtype: int64

In [28]:
#Education Level Distribution: What is the distribution of education levels among the dataset?
df.head()
df['Education_Level'].value_counts()

Education_Level
Graduate        3943
School          3073
Postgraduate    2018
PhD              966
Name: count, dtype: int64

In [30]:
#Spouse Working: What percentage of spouses are working?
df.head()
job_status = df.groupby('Spouse_Working')['ID'].count()
job_status_percent = job_status['Yes']/(job_status.sum()) * 100
print(f'{job_status_percent}%')

50.470000000000006%

In [32]:
#Urban vs. Rural Marriages: What percentage of marriages are in urban vs. rural areas?
df.head()
Marriage_areas = df['Urban_Rural'].value_counts()
Marriage_areas_percent = Marriage_areas['Urban'] /(Marriage_areas.sum()) * 100 
print(f'{Marriage_areas_percent}%')

60.46%

In [34]:
#Religion Distribution: What is the distribution of religions in the dataset?
df["Religion"].value_counts()

Religion
Hindu        6034
Muslim       1939
Christian     990
Others        531
Sikh          506
Name: count, dtype: int64

In [36]:
#Caste Match: What percentage of marriages have the same caste?
caste = df['Caste_Match'].value_counts()
caste_percent = caste['Same'] /(caste.sum()) * 100
print(f'{caste_percent}%')

70.71%

In [38]:
#Years Since Marriage: What is the average number of years since marriage?
df['Years_Since_Marriage'].mean()

24.9738

In [40]:
#Divorce by Income Level: What is the divorce rate for each income level?
df.head()

,ID,Marriage_Type,Age_at_Marriage,Gender,Education_Level,Caste_Match,Religion,Parental_Approval,Urban_Rural,Dowry_Exchanged,Marital_Satisfaction,Divorce_Status,Children_Count,Income_Level,Years_Since_Marriage,Spouse_Working,Inter-Caste,Inter-Religion,Marital_Satisfaction_Score
0,1,Love,23,Male,Graduate,Different,Hindu,No,Urban,No,Medium,Yes,5,Middle,34,No,No,No,2
1,2,Love,28,Female,School,Same,Hindu,Yes,Rural,Yes,Low,No,3,Middle,42,No,No,Yes,1
2,3,Arranged,39,Male,Postgraduate,Same,Muslim,Yes,Rural,No,Medium,No,0,High,25,No,No,No,2
3,4,Arranged,26,Female,School,Different,Hindu,Yes,Urban,Yes,Low,No,0,High,12,No,Yes,No,1
4,5,Love,32,Female,Graduate,Same,Hindu,Partial,Rural,Yes,Medium,No,1,Middle,41,No,No,Yes,2

In [42]:
#Marital Satisfaction by Religion: What is the average marital satisfaction score for each religion?#
df.head()

,ID,Marriage_Type,Age_at_Marriage,Gender,Education_Level,Caste_Match,Religion,Parental_Approval,Urban_Rural,Dowry_Exchanged,Marital_Satisfaction,Divorce_Status,Children_Count,Income_Level,Years_Since_Marriage,Spouse_Working,Inter-Caste,Inter-Religion,Marital_Satisfaction_Score
0,1,Love,23,Male,Graduate,Different,Hindu,No,Urban,No,Medium,Yes,5,Middle,34,No,No,No,2
1,2,Love,28,Female,School,Same,Hindu,Yes,Rural,Yes,Low,No,3,Middle,42,No,No,Yes,1
2,3,Arranged,39,Male,Postgraduate,Same,Muslim,Yes,Rural,No,Medium,No,0,High,25,No,No,No,2
3,4,Arranged,26,Female,School,Different,Hindu,Yes,Urban,Yes,Low,No,0,High,12,No,Yes,No,1
4,5,Love,32,Female,Graduate,Same,Hindu,Partial,Rural,Yes,Medium,No,1,Middle,41,No,No,Yes,2

In [44]:
#Education Level and Divorce: What is the divorce rate for each education level?
pivot  = df.groupby(['Education_Level','Divorce_Status']).size().unstack(fill_value =0)
pivot['Divorce_Rate (%)'] = (pivot['Yes']/ (pivot['Yes'] + pivot['No'])) * 100
print(pivot[['Yes', 'Divorce_Rate (%)']])

Divorce_Status   Yes  Divorce_Rate (%)
Education_Level
Graduate         406         10.296728
PhD              105         10.869565
Postgraduate     190          9.415263
School           300          9.762447

In [46]:
#Parental Approval and Divorce: What is the divorce rate for marriages with full, partial, or no parental approval?
pivot = df.groupby(['Parental_Approval', 'Divorce_Status']).size().unstack(fill_value=0)
pivot['Divorce_Rate (%)'] = (pivot['Yes'] / (pivot['Yes'] + pivot['No'])) * 100
print(pivot[['Yes', 'Divorce_Rate (%)']])

Divorce_Status     Yes  Divorce_Rate (%)
Parental_Approval
No                 114         11.035818
Partial            172          8.806964
Yes                715         10.193898

In [48]:
#Spouse Working and Children Count: What is the average number of children for marriages where the spouse is working vs. not working?
df.head()
average_kids_spouse_working = df[df['Spouse_Working'] == "Yes"]['Children_Count'].mean()
average_kids_spouse_not_working = df[df['Spouse_Working'] == "No"]['Children_Count'].mean()
average_kids_spouse_working, average_kids_spouse_not_working

(2.512581731721815, 2.5049464970724813)